* {
    padding: 0;
    margin: 0;
}
@media screen and (min-width: 576px) {}

.red_soc {
    margin-left: 100px;
    height: 50px;
    width: 50px;
    background-color: #fff;
}
.logoba{
    background-color: #fff;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
h6{
    margin-left:120px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.titulo_pagina {
    background-color: grey;
    text-align: center;
    margin-top: 20px;
}

/*Inicio Flex*/
.FlexContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    height: 80vh;
    overflow: auto;
    flex-direction: row;
}

.FlexContainer div {
    width: 300px;
    height: 300px;
    margin: 30px;

}

.FlexContainer :hover {
    border-radius: 10px;
    border: 10px solid;
    transition-duration: 0.5s;
}

.contacto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;

}

.red_contacto {
    width: 250px;
    height: 250px;
    margin: 50px;
}

/*Fin Flex*/
/*Inicio Header*/
header {
    background: black;
}

nav {
    float: left;
}

nav ol {
    list-style: none;
    overflow: hidden;
}

nav ol li {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

nav ol li a {
    display: block;
    padding: 20px;
    color: #fff;
    text-decoration: none;
}

nav ol li :hover {
    background: #eca023;
    border-radius: 5px;
}

header .logo {
    margin-left: 100px;
    transform: rotate(-10deg);
    height: 80px;
    width: 80px;
}

/*Fin Header*/
p {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
}

.img_media {
    height: 300px;
    width: 300px;
}

/*Inicio form*/

form {
    max-width: 500px;
    margin-left: 450px;
    background-color: black;
}

.form-control {
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;

}

.formulario {
    margin-top: 50px;
}

input,
textarea {
    width: 100%;
    padding: 5px;
    outline: none;
}

label {
    line-height: 1.9rem;
}

input[type="submit"] {
    transform: translate(2.2%);
    padding: 3px;
    margin-top: 0.6rem;
    font-family: cursive;
    font-weight: bold;
    background-color: grey;
}

fieldset {
    padding: 20px 40px;
}

/*Fin form*/

/*Inicio Footer*/
footer {
    background-color: grey;
    height: 250px;
}